.advantages {
  position: relative;
  display: block;
  min-height: 1000px;
  margin: 0 auto;
  margin-bottom: 45px;
  font-family: $font;
  overflow: auto;
}

.advantages__slogan {
  position: relative;
  min-height: 248px;
  padding-top: 38px;
  padding-right: 18px;
  padding-left: 18px;
  text-align: center;
  font-size: 24px;
  font-weight: lighter;
  background: white;
  overflow: hidden;


  &:after {
    content: '';
    z-index: 1;
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 100%;
    min-height: 80px;
    transform: rotate(180deg);
    background: url('../img/bg-triangle-white.svg') no-repeat top;
    background-color: white;
    background-size: 110% auto;
  }
}

.advantages__items {
  background: #f2f2f2;
  min-height: 748px;
  padding: 0 20px;
  padding-top: 50px;
  overflow: visible;
}

.advantages__items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  @include phone-container;
  min-height: 753px;
  overflow: visible;
}

.advantages__item {
  text-align: center;
}

.advantages__mobile-photo {
  margin: 0 auto;
  width: 158px;
  height: 277px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
  &--2,
  &--3 {
    display: none;
  }

}

.advantages__question {
  margin: 0;
  padding: 0;
}

.advantages__item-title {
  display: block;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 20px;
}

.advantages__item-text {
  margin-bottom: 37px;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 700px) {
  .advantages {
    min-height: 725px;
  }

  .advantages__slogan {
    min-height: 297px;
    @include tablet-container;
    padding: 0;
    padding-top: 48px;
    font-size: 40px;
    &::after {
      bottom: -2px;
      height: 10vw;
    }
  }

  .advantages__result {
    margin: 0;
    max-width: 400px;
    margin: 0 auto;
  }

  .advantages__items {
    min-height: 432px;
    padding: 0 40px;
    }
  .advantages__item {
    margin-bottom: 35px;
    margin-left: auto;
    width: 50%;
    text-align: left;
  }

  .advantages__items-container {
    display: block;
    @include tablet-container;
    padding: 0;
    position: relative;
    min-height: 432px;
  }

  .advantages__item-text {
    margin-bottom: 10px;
  }

  .advantages__mobile-photo {
    position: absolute;
    bottom: 0;
    left: 5%;
    z-index: 2;
    width: 268px;
    height: 481px;
    background: url('/img/iphone-screen-3-tablet@1x.png') no-repeat center;
    background-size: contain;
  }
}

@media (min-width: 1200px) {
  .advantages__slogan {
    @include desktop-container;
  }

  .advantages__items {
    min-height: 500px;
  }

  .advantages__items-container {
    @include desktop-container;
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    order: 2;
    width: 300px;
  }

  .advantages__mobile-photo {
    position: relative;
    order: 1;
    width: 300px;
    height: 302px;
    &--2,
    &--3 {
      display: block;
    }
  }
}
