.comments {
  position: relative;
  min-height: 380px;
  width: auto;
  padding: 0 20px;
  margin: 0 auto;
  background: white;
  font-family: $font;


  &:after {
    content: '';
    margin-left: -20px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    min-height: 80px;
    transform: rotate(180deg);
    background: url('../img/bg-triangle-white.svg') no-repeat top;
    background-color: white;
    background-size: 110% auto;
  }
}

.comments__wrapper {
  display: flex;
  flex-direction: column;
}

.comments__title {
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.comments__container {
  display: none;
  flex-direction: column;
  justify-content: center;
}

.comments__text {
  font-family: $font;
  text-align: center;
  line-height: 30px;
}
.comments__input {
  display: none;
}

.comments__toogles {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 14px;
  margin: 0 auto;
}

#comment-1:checked ~ .comments__wrapper label[for="comment-1"],
#comment-2:checked ~ .comments__wrapper label[for="comment-2"],
#comment-3:checked ~ .comments__wrapper label[for="comment-3"]{
  box-sizing: content-box;
  background: white;
  border: 3px solid #364351;
}

#comment-1:checked ~ .comments__wrapper .slide-1,
#comment-2:checked ~ .comments__wrapper .slide-2,
#comment-3:checked ~ .comments__wrapper .slide-3,{
  display: flex;
}

@media (min-width: 700px) {
  .comments {
    width: 700px;
    padding: 0 40px;
  }
}

@media (min-width: 1200px) {
  .comments {
    @include desktop-container;
  }

  .comments__toogles {
    display: none;
  }
}
