.comments {
  position: relative;
  min-height: 311px;
  width: auto;
  padding: 0 20px;
  margin: 0 auto;
  background: white;
  font-family: $font;


  &::after {
    content: '';
    z-index: 1;
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 100%;
    min-height: 80px;
    transform: rotate(180deg);
    background: url('../img/bg-triangle-white.svg') no-repeat top;
    background-color: white;
  }
}

.comments__wrapper {
  display: flex;
  flex-direction: column;
}

.comments__wrapper-quotes,
.comments__wrapper-right,
.comments__wrapper-left {
  display: none;
}

.comments__title {
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.comments__title-desc {
  display: none;
}

.comments__container {
  display: none;
  flex-direction: column;
  justify-content: center;
}

.comments__text {
  font-family: $font;
  text-align: center;
  line-height: 30px;
}
.comments__input {
  display: none;
}

.comments__toogles {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 14px;
  margin: 0 auto;
  margin-bottom: 80px;
}

#comment-1:checked ~ .comments__wrapper label[for="comment-1"],
#comment-2:checked ~ .comments__wrapper label[for="comment-2"],
#comment-3:checked ~ .comments__wrapper label[for="comment-3"]{
  box-sizing: content-box;
  background: white;
  border: 3px solid #364351;
}

#comment-1:checked ~ .comments__wrapper .slide-1,
#comment-2:checked ~ .comments__wrapper .slide-2,
#comment-3:checked ~ .comments__wrapper .slide-3,{
  display: flex;
}

@media (min-width: 700px) {
  .comments {
    width: auto;
    padding: 0 40px;

      &::after {
      bottom: -2px;
      min-height: 10vw;
    }
  }
}

@media (min-width: 1024px) {
  .comments {
    max-width: 1040px;
    &::after {
      bottom: -2px;
      min-height: 10vw;
      width: 101%;
      background-size: contain;
    }
  }

  .comments__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 180px;
  }

  .comments__wrapper-quotes {
    position: absolute;
    top: 72px;
    display: block;
    width: 80px;
    height: 63px;
    background: url('/img/icon-quotes.svg') no-repeat center;
    background-size: contain;
  }

  .comments__wrapper-right {
    position: absolute;
    right: 0;
    top: 213px;
    display: block;
    width: 80px;
    height: 41px;
    width: 22px;
    background: url('/img/icon-review-arrow-right.svg') no-repeat center;
    background-size: contain;
  }

  .comments__wrapper-left {
    position: absolute;
    left: 0;
    top: 213px;
    display: block;
    width: 80px;
    height: 41px;
    width: 22px;
    background: url('/img/icon-review-arrow-left.svg') no-repeat center;
    background-size: contain;
  }

  .comments__container {
    flex-direction: column-reverse;
    max-width: 690px;
    padding-bottom: 10vw;
  }

  .comments__title {
    text-align: center;
    font-size: 24px;
  }

  .comments__title-desc {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
}

  .comments__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .comments__toogles {
    display: none;
  }
}
