.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  width: auto;
  background: white;
  font-family: $font;
}

.contacts__container {
  position: relative;
  margin-bottom: 35px;
}

.contacts__question {
  margin-bottom: 35px;
  text-align: center;
  font-family: $font;
  font-size: 24px;
  font-weight: lighter;
}

.contacts__title {
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #283645;
}

.contacts__tel {
  margin-bottom: 20px;
  text-align: center;
}

.contacts__tel a {
  color: #d22856;
  text-decoration: none;
  font-size: 24px;
  font-weight: lighter;
}

.contacts__container-mail {
  margin-bottom: 20px;
  text-align: center;
}

.contacts__mail {
  color: #d22856;
  text-decoration: none;
  font-size: 24px;
  font-weight: lighter;
}

.contacts__addres {
  text-align: center;
  color: #d22856;
  text-decoration: none;
  font-size: 24px;
  font-weight: lighter;
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 46vw;
  background: url('/img/bg-map-mobile@2x.jpg') no-repeat center;
  &::after {
    content: '';
    position: absolute;
    top: -1px;
    height: 10vw;
    width: 100%;
    display: block;
    background: url('/img/bg-triangle-white-footer.svg') no-repeat center;
    background-size: contain;
  }

}

@media (min-width: 700px) {
  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 700px;
    padding: 0 40px;
  }

  .contacts__question {
    width: 374px;
    margin: 0 auto;
    text-align: center;
  }

  .contacts__container {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__tel,
  .contacts__container-mail,
  .contacts__container-addres  {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  .contacts__map {
    height: 480px;
  }
}

@media (min-width: 1200px) {
  .contacts {
    @include desktop-container;
  }
}
