.effect {
  display: none;

  }

.effect__clock {
  width: 300px;
  height: 276px;
}

.effect__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.effect__text {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.effect__link {
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
}

@media (min-width: 700px) {
  .effect {
    display: block;
    overflow: auto;
  }

  .effect__container {
    display: flex;
    min-height: 0;
    width: auto;
    padding: 0 40px;
  }

  .effect__clock {
    position: relative;
    width: 239px;
    height: 276px;
    flex-shrink: 0;
    margin-right: 10%;
    background: url('/img/icon-timer.svg') no-repeat center;
    background-size: contain;

  &::after {
    content: '24';
    position: absolute;
    top: 55px;
    left: 19px;
    display: block;
    box-sizing: border-box;
    width: 202px;
    height: 202px;
    padding-top: 25px;
    text-align: center;
    font-size: 96px;
    font-weight: bold;
    color: #d22856;
    border: 14px solid #d22856;
    border-radius: 50%;
    }
  }
}

@media (min-width: 1024px){
  .effect {
  background: #f2f2f2;
  }

  .effect__container {
    min-height: 412px;
  }

  .effect__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 84px;
  }

  .effect__title-br {
    display: none;
  }

  .effect__title {
    line-height: 30px;
  }

  .effect__text {
    text-align: center;
  }

  .effect__container {
    @include desktop-container;
  }

  .effect__clock {
    width: 300px;
    height: 345px;

    &::after {
      width: 253px;
      height: 253px;
      padding-top: 49px;
      top: 70px;
      left: 23px;
      border: 17px solid #d22856;
      border-radius: 50%;
    }
  }
}
