.effect {
  display: none;

  }

.effect__clock {
  width: 300px;
  height: 276px;
}

.effect__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.effect__text {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.effect__link {
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
}

@media (min-width: 700px) {
  .effect {
    display: block;
    overflow: auto;
  }

  .effect__container {
    display: flex;
    height: 436px;
    width: 700px;
    margin: 0 auto;
    padding: 0 40px;
  }
}

@media (min-width: 1200px){
  .effect {
  background: #f2f2f2;
  }

  .effect__container {
    @include desktop-container;
  }
}
