.form__surname {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
}

.form__name {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
}

.form__patronymic-name {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
}



