.form fieldset,
.form legend {
  border: none;
}

.form legend   {
  line-height: 18px;
  font-size: 14px;
  text-transform: uppercase;

}

.form__fio {
  min-height: 368px;
  @include phone-container;
}

.form__surname {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
}

.form__name {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
}

.form__patronymic-name {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
}

.form__send-container {
  @include phone-container;
}

@media (min-width:700px) {

  .form {
    display: flex;
    flex-direction: column;
  }

  .form__fio {
    @include tablet-container;
  }

  .form__send-container {
    order: 5;
    @include tablet-container;
  }
  .form fieldset {
    border: 2px solid #e5e5e5;
  }
  .form legend {
    line-height: 30px;
    color: #d22856;
  }
}

@media (min-width: 1200px) {
  .form__fio {
    @include desktop-container;
  }
}

