.form fieldset,
.form legend {
  border: none;
}

.form legend   {
  line-height: 18px;
  font-size: 14px;
  text-transform: uppercase;

}

.form__fio {
  min-height: 368px;
  @include phone-container;
}

.form__surname {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
}

.form__name {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
}

.form__patronymic-name {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
}

.form__contacts {
  @include phone-container;
}

.form__contacts-tel-container {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}


.form__send-container {
  @include phone-container;
}

.form__crazy {
  min-height: 604px;
  background: #f2f2f2;
}

.form__crazy-container {
  @include phone-container;
}

.form__emotions {
  @include phone-container;
}

.form__emotions-text {
  min-height: 320px;
}

.form__emotions-textarea {
  width: 280px;
  min-height: 200px;
  font-family: $font;
  font-size: 18px;
  color: #283645;
  border: 2px solid #e5e5e5;
}

.form__os {
  background: #f2f2f2;
}

.form__os-container {
  @include phone-container;
}

.form__special {
  display: block;
  @include phone-container;
  min-height: 160px;
  font-size: 14px;
}


@media (min-width:700px) {
  .form {
    display: block;
    flex-direction: column;
  }

  .form__fio {
    @include tablet-container;
  }

  .form__crazy {
    order: 3;
    min-height: 0;
    background: white;
  }

  .form__crazy-container {
    @include tablet-container;
  }

  .form__crazy-legend {
    margin: 0 auto;
    padding: 0 32px;
  }

  .form__crazy-fieldset {
    min-height: 552px;
  }

  .form__send-container {
    order: 5;
    @include tablet-container;
  }

  .form fieldset {
    border: 2px solid #e5e5e5;
  }

  .form legend {
    line-height: 30px;
    color: #d22856;
  }

  .form__contacts {
    order: 2;
    @include tablet-container;
    min-height: 310px;
   }

  .form__contacts-legend {
    margin: 0 auto;
    padding: 0 32px;
  }

  .form__contacts-fieldset {
    min-height: 310px;
  }

  .form__emotions {
    order: 4;
  @include tablet-container;
}

  .form__emotion-legend {
    margin: 0 auto;
    padding: 0 38px;
  }

  .form__emotions-fieldset {
    min-height: 292px;
  }

  .form__emotions-textarea {
    width: 500px;
    height: 192px;
  }

  .form__os {
    order: 1;
    background: white;
  }

  .form__os-container {
  @include tablet-container;
    min-height: 310px;
}

  .form__os-legend {
    margin: 0 auto;
    padding: 0 25px;
  }

  .form__os-fieldset {
    min-height: 300px;

  }

  .form__special {
  @include tablet-container;
  }

}

@media (min-width: 1200px) {
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__fio {
    width: 470px;
    padding: 0;
    margin: 0;
  }

  .form__contacts {
    width: 940px;
    min-height: 0;
    margin: 0;
    padding: 0;
  }

   .form__contacts-fieldset {
    min-height: 162px;
  }

    .form__crazy-container {
    width: 940px;
    margin: 0;
    padding: 0;
  }

  .form__crazy-fieldset {
    min-height: 232px;
  }

   .form__emotions {
    margin: 0;
    padding: 0;
    width: 940px;
  }

   .form__emotions-textarea {
    width: 820px;
    height: 128px;
  }

   .form__os-container {
    width: 470px;
    margin: 0;
    padding: 0;
  }

  .form__special {
  @include desktop-container;
    width: 940px;
  }
}

