.form-emotions {
  @include phone-container;
}

.form-emotions__title {
   font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.form-emotions__text {
  min-height: 320px;
}

.form-emotions__textarea {
  width: 280px;
  min-height: 200px;
  font-family: $font;
  font-size: 18px;
  color: #283645;
  border: 2px solid #e5e5e5;
}

@media (min-width: 700px) {
  .form-emotions {
    order: 4;
  @include tablet-container;
}

  .form-emotions__legend {
    margin: 0 auto;
    padding: 0 38px;
  }

  .form-emotions__fieldset {
    min-height: 292px;
  }

  .form-emotions__textarea {
    width: 500px;
    height: 192px;
  }
}

@media (min-width: 1200px) {
  .form-emotions {
    margin: 0;
    padding: 0;
    width: 940px;
  }

   .form-emotions__textarea {
    width: 820px;
    height: 128px;
  }
}
