.form-crazy {
  min-height: 604px;
  background: #f2f2f2;
}

.form-crazy__container {
  @include phone-container;
}

.form-crazy__title {
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
}
