.form-emotions {
  @include phone-container;
}

.form-emotions__title {
   font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.form-emotions__text {
  min-height: 320px;
}
