.form-special {
  display: block;
  @include phone-container;
  min-height: 160px;
  font-size: 14px;
}

@media (min-width: 700px) {
  .form-special {
  @include tablet-container;
    }
}

@media (min-width: 1200px) {
  .form-special {
  @include desktop-container;
  }
}
