.main-nav {
  position: relative;
  background: rgba(17, 24, 30, 0.7);
  z-index: 2;
}

.main-nav__logo-container {
  position: relative;
  display: flex;
  min-height: 66px;
  padding: 0 20px;
}

.main-nav--opened .main-nav__logo-container{
  min-height: 69px;
  background: #283645;
  border-bottom: 1px solid black;
}

.main-nav__logo {
  display: block;
  width: 75px;
  height: 22px;
  margin-top: 22px;
  background: url("/img/logo-pink-white-mobile.svg") no-repeat center;
}

.main-nav__btn {
  position: absolute;
  top: 21px;
  right: 30px;
  width: 50px;
  height: 24px;
  font-size: 0;
  background: none;
  cursor: pointer;
  border: none;

  &:hover {
  }

  &:active {
  }
}

.main-nav--closed .main-nav__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 4px;
  width:  50px;
  background-color: white;
  box-shadow: 0 10px 0 white,
              0 20px 0 white;

}

.main-nav--opened .main-nav__btn {
  top: 21px;
  right: 20px;
  width: 30px;
  height: 30px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 30px;
    height: 4px;

    background-color: white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

}

.main-nav--closed .main-nav__items {
  display: none;
  margin: 0;
  padding: 0;
  background: #283645;
}

.main-nav--opened .main-nav__items {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #283645;
}

.main-nav__item {
  list-style: none;
}

.main-nav__item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 62px;
  text-align: center;
  font-family: $font;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid #010101;
  border-top: 1px solid #485461;
}

@media (min-width: 700px) {
  .main-nav {
    min-height: 110px;
  }

  .main-nav__logo {
    min-height: 42px;
    width: 148px;
    margin-top: 26px;
    background: url('/img/logo-pink-white-tablet.svg') no-repeat center;
  }

  .main-nav__logo-container {
    padding: 0 40px;
  }

  .main-nav--opened .main-nav__logo-container {
    min-height: 109px;
  }

  .main-nav--closed .main-nav__btn {
     top: 44px;
     right: 40px;
  }

   .main-nav--opened .main-nav__btn {
     top: 44px;
     right: 40px;
  }

}

@media (min-width: 1200px) {
 .main-nav__logo-container {
    min-height: 110px;
  }

  .main-nav__logo {
    width: 148px;
    margin-top: 27px;
    background: url('/img/logo-pink-white-desktop.svg') no-repeat center;
  }

  .main-nav__logo-container {

  }

  .main-nav__btn {
    display: none;
  }

  .main-nav {
    display: flex;
  }

  .main-nav .main-nav__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 110px;
    width: 620px;
    margin-left: auto;
    background: none;
    text-transform: none;
  }

  .main-nav__item a {
    font-size: 18px;
    font-weight: lighter;
    border-bottom: none;
    border-top: none;
  }

  .main-nav__wrapper {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }
}
