.modal-content-error {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: $font;
}

.modal-content-error__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.modal-content-error__desc {
  font-size: 14px;
  line-height: 24px;
}
