.news-item__foto-link {
  display: block;
}

.news-item__foto-link img {
  display: block;
}

.news-item__foto--panorama {
  margin-left: -20px;
}

.news-item__comment {
  background: #f2f2f2;
}

.news-item__comment-name {
  padding-top: 20px;
  font-weight: bold;
}

