.news-item__foto-link {
  display: block;
}

.news-item__foto-link img {
  display: block;
}

.news-item__comment {
  background: #f2f2f2;

}

.news-item__comment-name {
  padding-top: 20px;
  font-weight: bold;
}

.news-item__comment-time {
  color: #737981;
  font-weight: 100;
}

@media (min-width: 700px) {
  .news-item {
    min-height: 455px;
    width: 300px;
  }

  .news-item-panorama {
    width: 620px;
  }

  .news-item__foto--panorama {
    width: 700px;
    min-height: 510px;
    margin: 0 auto;
    background: red;
  }

  .news-item__comment--panarama {
    width: 620px;
  }

  .news-item__comment {
    min-height: 155px;
  }

}

@media (min-width: 1200px) {
  .news-item-panorama {
    width: 1200px;
  }

  .news-item__foto--panorama {
    width: 1200px;
    min-height: 506px;
    margin: 0 auto;
    background: red;
  }

  .news-item {
    min-height: 556px;
  }

  .news-item__comment--panarama {
    width: 940px;
  }

}



