.page-footer {
  display: none;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 284px;
  &--item {
    display: block;
  }
}

.page-footer__logo {
  display: block;
  width: 147px;
  margin: 0 auto;
}

.social-links {
  width: 178px;
  margin: 0 auto;
}

.page-footer__copyright {
  display: block;
  width: 140px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .page-footer {
    display: flex;
    width: auto;
    min-height: 127px;
    padding: 0 40px;
    background: white;
  }

  .social-links {
    display: flex;
    max-width: 200px;
    justify-content: space-between;
    list-style: none;
  }

  .social-link {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 3px solid #e9ebec;
  }

  .social-link--tw {
    background: url('../img/icon-twitter.svg') no-repeat center;
    background
  }
}

@media (min-width: 1200px) {
  .page-footer {
    @include desktop-container;
     min-height: 225px;
  }
}
