.page-footer {
  display: none;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 284px;
  &--item {
    display: block;
  }
}

.page-footer__logo {
  display: block;
  width: 147px;
}

.page-footer__copyright {
  display: block;
  width: 140px;
 }

@media (min-width: 700px) {
  .page-footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: auto;
    min-height: 127px;
    padding: 0 40px;
    background: white;
  }

  .social-links {
    display: flex;
    width: 170px;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
  }

  .social-link {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #e9ebec;
  }

  .social-link--tw {
    background: url('../img/icon-twitter.svg') no-repeat center;
  }

  .social-link--fb {
    background: url('../img/icon-facebook.svg') no-repeat center;
  }

  .social-link--vid {
    background: url('../img/icon-youtube.svg') no-repeat center;
  }

  .page-footer__copyright {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    color: #283645;
    text-decoration: none;
  }

  .htmlacademy-logo {
    display: inline-block;
    width: 27px;
    height: 34px;
    margin-left: 14px;
    background: url('/img/logo-htmlacademy.svg') no-repeat center;
  }

  .page-footer {
    min-height: 127px;
  }

  .page-footer__logo-logo {
    width: 150px;
    height: 41px;
    background: url('/img/logo-pink-blue-mobile.svg') no-repeat center;
  }
}

@media (min-width: 1024px) {
  .page-footer {
    display: flex;
    @include desktop-container;
     min-height: 197px;
  }

  .page-footer__logo-logo {
    background: url('/img/logo-pink-blue-desktop.svg') no-repeat center;
  }
}
