.page-header {
  position: relative;
  width: 320px;
  min-height: 461px;
  margin: 0 auto;
  background: url("/img/bg-back-mobile@1x.jpg") no-repeat center;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 320px;
    height: 286px;
    background: url("/img/iphone-hand-mobile.png");
  }
}

.page-header__logo {
  min-height: 66px;
  background: rgba(29, 38, 50, 0.3);
}

.page-header__toggle {
  height: 24px;
  width: 50px;
  font-size: 0;
  background: url("/img/icon-menu-burger.svg");
  border: none;
}

