.page-footer {
  width: 320px;
  margin: 0 auto;
  background: white;
  font-family: $font;
}

.page-footer__question {
  font-family: $font;
  font-size: 24px;
  font-weight: lighter;
}

.page-footer__title {
  font-size: 18px;
  font-weight: bold;
  color: #283645;
}

.page-footer__tel a {
  color: #d22856;
  text-decoration: none;
  font-size: 24px;
  font-weight: lighter;
}

.page-footer__mail {
  color: #d22856;
  text-decoration: none;
  font-size: 24px;
  font-weight: lighter;
}

.page-footer__addres {
  color: #d22856;
  text-decoration: none;
  font-size: 24px;
  font-weight: lighter;
}
