.page-header {
  background: url("/img/bg-back-mobile@1x.jpg") no-repeat center;
  background-size: cover;
  min-height: 462px;
}

.page-header--item {
  min-height: 237px;
}

.page-header__container {
  position: relative;
  width: 320px;
  min-height: 461px;
  margin: 0 auto;

}

.page-header__container--item {
  min-height: 237px;
}

.page-header__iphone-container {
  position: relative;
  @include phone-container;
  min-height: 396px;
}

.page-header__iphone {
  position: absolute;
  bottom: 0;
  display: block;
  width: 255px;
  height: 286px;
}

.page-header__toggle {
  height: 24px;
  width: 50px;
  font-size: 0;
  background: url("/img/icon-menu-burger.svg");
  border: none;
}

.page-header-item__desc {
  @include phone-container;
  font-size: 24px;
  font-family: $font;
  font-weight: lighter;
  color: white;
}

@media (min-width: 700px) {
   .page-header--item {
    min-height: 440px;
  }

    .page-header__container {
    position: relative;
    width: 700px;
    min-height: 440px;
    margin: 0 auto;
    }
    .page-header__iphone {
    left: 150px;
    height: 545px;
    width: 470px;
    }
}

@media (min-width: 1200px) {
  .page-header--item {
    min-height: 394px;
  }

  .page-header__container {
    @include desktop-container;
  }
}
