.page-header {
  position: relative;
  width: 320px;
  min-height: 461px;
  margin: 0 auto;
  background: url("/img/bg-back-mobile@1x.jpg") no-repeat center;
}

.page-header-item {
  position: relative;
  width: 320px;
  min-height: 237px;
  margin: 0 auto;
  background: url("/img/bg-back-mobile@1x.jpg") no-repeat center;
 }

.page-header__iphone {
    position: absolute;
    bottom: 0;
    display: block;
    width: 255px;
    height: 286px;
}

.page-header__toggle {
  height: 24px;
  width: 50px;
  font-size: 0;
  background: url("/img/icon-menu-burger.svg");
  border: none;
}

.page-header-item__desc {
  font-size: 24px;
  font-family: $font;
  font-weight: lighter;
  color: white;
}
