.pay-plan {
  min-height: 400px;
  padding-top: 60px;
  margin-bottom: 40px;
  background: #f2f2f2;
  overflow: hidden;
}

.pay-plan__input {
  display: none;
}

.pay-plan__container {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  width: 840px;
  margin: 0 auto;
}

.pay-plan__table {
  margin-bottom: 40px;
  border-collapse: collapse;
}

.pay-plan__plans {
  width: 276px;
 height: 98px;
  background: #283645;
  color: white;
  text-align: center;
}

.pay-plan__title {
  margin: 0;
  margin-top: 16px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.pay-plan__cost {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
}

.pay-plan__plans--center {
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}

.pay-plan__item {
  width: 276px;
  height: 59px;
  padding-left: 22px;
  font-size: 14px;
  text-transform: uppercase;
  background: white;
  border: 2px solid #e5e5e5;
}

.pay-plan__plans--none {
  display: none;
}

.pay-plan__item--tablet {
  display: none;
}

.pay-plan__toogles {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 14px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 46px;
}

#pay-plans-1:checked~.pay-plan__container label[for="pay-plans-1"],
#pay-plans-2:checked~.pay-plan__container label[for="pay-plans-2"],
#pay-plans-3:checked~.pay-plan__container label[for="pay-plans-3"]{
  box-sizing: content-box;
  background: white;
  border: 3px solid #364351;
}

@media (min-width: 700px) {
  .pay-plan {
    z-index: 11;
    min-height: 324px;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
   }

  .pay-plan__container {
    position: static;
    width: auto;
    padding: 0 40px;
    margin: 0 auto;
    transform: none;

  }

  .pay-plan__table {
    border-collapse: collapse;
    margin-bottom: 68px;
  }

  .pay-plan__title {
    font-size: 16px;
    line-height: 30px;
  }

  .pay-plan__cost {
    font-size: 18px;
    line-height: 30px;
  }

  .pay-plan__item {
    width: 21%;
    height: 45px;
    font-size: 14px;
    text-transform: none;
      &--tablet {
        display: table-cell;
        }
    }

  .pay-plan__item--on {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 10px;
      left: 42%;
      width: 32px;
      height: 22px;
      background: url('../../img/icon-yes.svg') no-repeat center;
      background-size: contain;
    }
  }

  .pay-plan__item--off {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 8px;
      left: 42%;
      width: 28px;
      height: 27px;
      background: url('../../img/icon-no.svg') no-repeat center;
      background-size: contain;
    }
  }

  .pay-plan__item span {
    display: none;
  }

  .pay-plan__plans {
    width: 152px;
    height: 79px;
  }


  .pay-plan__plans--none {
  display: table-cell;
  }

  .pay-plan__toogles {
    display: none;
  }
}

@media (min-width: 1024px) {
  .pay-plan {
    margin-bottom: 75px;
  }

  .pay-plan__container {
    @include desktop-container;
  }

  .pay-plan__table {
    width: 100%;
  }
}

