.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 271px;
  margin: 0 auto;
  padding-top: 28px;
  background: #1d2631;
}

.product-container {
  @include phone-container;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product__items {
  display: block;
  height: 56px;
  width: 48px;
  &--apple {
    background: url("/img/logo-apple.svg") no-repeat center;
  }
  &--android {
    background: url("/img/logo-android.svg") no-repeat center;
  }
  &--windows {
    background: url("/img/logo-microsoft.svg") no-repeat center;
  }
}

.product__slogan {
  display: none;
  color: white;
  font-size: 40px;
  font-weight: lighter;
}

.product__items-container {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  margin-bottom: 25px;
}

.product__items-text {
  color: white;
  line-height: 24px;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

@media (min-width: 700px) {
  .product {
    position: absolute;
    top: 175px;
    left: 10%;
    width: 280px;
    min-height: 402px;
    background: none;
  }

  .product__slogan {
    display: flex;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .product {
    top: 195px;
    left: 5%;
  }

  .product__slogan {
    font-size: 50px;
    width: 280px;
    margin-bottom: 30px;
  }

  .product__items-container {
    margin-top: 60px;
  }
}

@media (min-width: 1300px) {
  .product {
    left: 10%;
  }
}

@media (min-width: 1550px) {
  .product {
    left: 15%;
  }
}

@media (min-width: 1800px) {
  .product {
    left: 18%;
  }
}
