.slider-toggle {
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  font-size: 0;
  background: #bec2c7;
  border-radius: 50%;
  cursor: pointer;
}

.slider-toggle:last-child {
  margin-right: 0;
}
