.slider-toggle {
  //display: inline-block;
  //vertical-align: top;
  width: 6px;
  height: 6px;
  margin-right: 19px;
  font-size: 0;
  background: #bec2c7;
  border-radius: 50%;
  cursor: pointer;
}

.slider-toggle:last-child {
  margin-right: 0;
}
