.slider-pay-plan__input {
  display: none;
}

.pay-plan__container {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  width: 840px;
  margin: 0 auto;
}

.pay-plan__plans {
  width: 276px;
  min-height: 98px;
  background: #283645;
  color: white;
  text-align: center;
}
